---
import { getCollection } from 'astro:content';

interface Props {
  linkTo?: string;
  limit?: number;
}
const { linkTo = '', limit = 99 } = Astro.props;

const leistungen = (await getCollection('leistungen'))
  .sort((a, b) => a.data.reihenfolge - b.data.reihenfolge)
  .slice(0, limit);
---
<div class="leistungen-grid">
  {leistungen.map((l) =>
    linkTo ? (
      <a class="cell" href={`${linkTo}#${l.id}`}>
        <div class="icon-frame"><i class={l.data.icon}></i></div>
        <div class="label">{l.data.titel}</div>
      </a>
    ) : (
      <div class="cell">
        <div class="icon-frame"><i class={l.data.icon}></i></div>
        <div class="label">{l.data.titel}</div>
      </div>
    )
  )}
</div>
